@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Righteous&family=Russo+One&family=Shojumaru&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Russo One", sans-serif;
}

.language {
  @apply text-lg text-right uppercase cursor-pointer;
}

.textarea {
  @apply w-full h-48 resize-none bg-[#151515] shadow-md shadow-black rounded-lg px-4 py-2 font-righteous font-light leading-5 text-white;
}

button:disabled {
  background-color: #d3d3d3;
  color: #6c757d;
  cursor: not-allowed;
  opacity: 0.65;
  border: 1px solid #ced4da;
  box-shadow: none;
  text-shadow: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:disabled:hover {
  background-color: #d3d3d3;
  color: #6c757d;
}
